.sm {
    margin: 0 auto;
    width: min(26rem, 100%);
}

.currency {
    width: calc(10ch + 4rem);
}

.link-listing {
    text-decoration: none;
}

.link-listing:hover {
    text-decoration: underline;
}

.listing-image-container {
    height: 800px;
    width: 800px;
}

.contain {
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.category {
    text-decoration: none;
    width: 100%;
}

.category:hover span {
    text-decoration: underline;
}

.category-icon-container {
    width: 3rem;
}

.category-icon {
    font-size: 2rem;
}
