body {
    padding: 10px;
}

input, textarea {
    max-width: 1200px;
}

.currency {
    width: calc(10ch + 4rem);
}

.link-listing {
    text-decoration: none;
}

.link-listing:hover {
    text-decoration: underline;
}
