{% extends "auctions/layout.html" %}

{% block title %}Categories - Auctions{% endblock %}

{% block body %}

    <h2 class="text-center display-6 mb-3">Categories</h2>

    <div class="d-flex flex-column gap-2 align-items-center mt-3">
        {% for category in categories %}
            <a href="{% url 'category' category.url_name %}" class="border rounded d-flex align-items-center gap-3 p-3 category text-dark">
                <div class="category-icon-container text-center">
                    <i class="fa-solid fa-{{ category.icon }} category-icon"></i>
                </div>
                <span class="fs-5">{{ category.name }}</span>
            </a>
        {% endfor %}
    </div>

{% endblock %}
