{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://kit.fontawesome.com/9aea94aa37.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'auctions/favicon.ico' %}"></link>
        <title>{% block title %}Auctions{% endblock %}</title>
    </head>
    <body>

        <nav class="py-2 bg-light border-bottom">
            <div class="container d-flex flex-wrap">
                <ul class="nav me-auto">
                    <li class="nav-item"><a href="{% url 'index' %}" class="nav-link link-dark px-2 active" aria-current="page">Active Listings</a></li>
                    <li class="nav-item"><a href="{% url 'categories' %}" class="nav-link link-dark px-2">Categories</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a href="{% url 'watchlist' %}" class="nav-link link-dark px-2">Watchlist</a></li>
                        <li class="nav-item"><a href="{% url 'new_listing' %}" class="nav-link link-dark px-2">Create Listing</a></li>
                    {% endif %}
                </ul>
                <ul class="nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link link-dark px-2">Log Out</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link link-dark px-2">Log In</a></li>
                        <li class="nav-item"><a href="{% url 'register' %}" class="nav-link link-dark px-2">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <header class="py-3 mb-4 border-bottom">
            <div class="container d-flex flex-wrap justify-content-center">
                <a href="/" class="d-flex align-items-center mb-0 me-auto text-dark text-decoration-none">
                    <i class="fa-solid fa-gavel fs-3 bi me-2"></i>
                    <span class="fs-4">Auctions</span>
                </a>
                <div class="col-auto mb-0 text-center d-flex align-items-center">
                    {% if user.is_authenticated %}
                        <span>Signed in as <strong>{{ user.username }}</strong></span>
                    {% endif %}
                </div>
            </div>
        </header>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    </body>
</html>
