{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="text-center display-6 mb-3">Login</h2>

    <form method="POST" class="text-center">
        {% csrf_token %}
        {% if message %}
            <div class="form-floating sm mb-3 text-start">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}
        <div class="form-floating sm mb-3">
            <input id="username" name="username" class="form-control" type="text" placeholder="Username" required>
            <label for="username" class="form-label">Username</label>
        </div>
        <div class="form-floating sm mb-3">
            <input id="password" name="password" class="form-control" type="password" placeholder="Password" required>
            <label for="password" class="form-label">Password</label>
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Login">
        </div>
        <span>Don't have an account? <a href="{% url 'register' %}">Register</a></span>
    </form>

{% endblock %}
