{% extends "auctions/layout.html" %}

{% block title %}New Listing - Auctions{% endblock %}

{% block body %}

    <div class="mb-3">
        <h2>New Listing</h2>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input id="title" name="title" class="form-control" type="text" maxlength="64" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" name="description" class="form-control" type="text" maxlength="512" required></textarea>
        </div>
        <div class="mb-3">
            <label for="starting_bid" class="form-label">Starting Bid</label>
            <div class="d-flex align-items-center gap-1">
                <span>$</span>
                <input id="starting_bid" name="starting_bid" class="form-control currency" type="number" step="0.01" min="0.00" max="1000000.00" required></input>
            </div>
        </div>
        <div class="mb-3">
            <div>
                <label class="form-label">Categories (optional)</label>
            </div>
            {% for category in categories %}
                <input id="{{ category.id }}" class="btn-check" type="checkbox" value="{{ category.id }}" name="categories" autocomplete="off">
                <label for="{{ category.id }}" class="btn btn-outline-secondary btn-sm rounded-pill">{{ category.name }}</label>
            {% endfor %}
        </div>
        <div class="mb-4">
            <label for="image" class="form-label">Image URL (optional)</label>
            <input id="image" name="image" class="form-control" type="url">
        </div>
        <div class="mb-4">
            <input type="submit" value="Create Listing" class="btn btn-primary">
        </div>
    </form>

{% endblock %}
