{% extends "auctions/layout.html" %}

{% block title %}Register - Auctions{% endblock %}

{% block body %}

    <h2 class="text-center display-6 mb-3">Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form method="POST" class="text-center">
        {% csrf_token %}
        <div class="form-floating sm mb-3">
            <input id="username" name="username" class="form-control" type="text" placeholder="Username" required>
            <label for="username" class="form-label">Username</label>
        </div>
        <div class="form-floating sm mb-3">
            <input id="email" name="email" class="form-control" type="email" placeholder="Email Address" required>
            <label for="email" class="form-label">Email Address</label>
        </div>
        <div class="form-floating sm mb-3">
            <input id="password" name="password" class="form-control" type="password" placeholder="Password" required>
            <label for="password" class="form-label">Password</label>
        </div>
        <div class="form-floating sm mb-3">
            <input id="confirmation" name="confirmation" class="form-control" type="password" placeholder="Confirm Password" required>
            <label for="confirmation" class="form-label">Confirm Password</label>
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Register">
        </div>
        <span>Already have an account? <a href="{% url 'login' %}">Log In</a></span>
    </form>

{% endblock %}
